<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG">
    <appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n"/>
        </Console>

        <RollingFile name="workersLog" fileName="./worker.log"
                     filePattern="./worker.log.%d{yyyy-MM-dd}">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <RollingFile name="statsLog" fileName="./stats.log"
                     filePattern="./stats.log.%d{yyyy-MM-dd}">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <Routing name="Routing">
            <Routes pattern="$${ctx:user}">

                <!-- This route is chosen if ThreadContext has no value for key "user". -->
                <Route key="$${ctx:user}">
                    <RollingFile name="default" fileName="./blynk.log"
                                 filePattern="./blynk.log.%d{yyyy-MM-dd}">
                        <PatternLayout>
                            <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
                        </PatternLayout>
                        <Policies>
                            <TimeBasedTriggeringPolicy/>
                        </Policies>
                    </RollingFile>
                </Route>

                <!-- This route is chosen if ThreadContext has a value for "user"
                The value dynamically determines the name of the log file. -->
                <Route>
                    <RollingFile name="${ctx:user}" fileName="./${ctx:user}.log"
                                 filePattern="./${ctx:user}.log.%d{yyyy-MM-dd}">
                        <PatternLayout>
                            <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
                        </PatternLayout>
                        <Policies>
                            <TimeBasedTriggeringPolicy/>
                        </Policies>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>

    </appenders>
    <loggers>

        <Logger name="cc.blynk.server.workers.ProfileSaverRunner" level="debug" additivity="false">
            <appender-ref ref="workersLog"/>
        </Logger>
        <Logger name="cc.blynk.server.workers.timer.TimerRunner" level="debug" additivity="false">
            <appender-ref ref="workersLog"/>
        </Logger>
        <Logger name="cc.blynk.common.stats.GlobalStats" level="debug" additivity="false">
            <appender-ref ref="statsLog"/>
        </Logger>

        <root level="DEBUG">
            <appender-ref ref="Console"/>
            <appender-ref ref="Routing"/>
        </root>
    </loggers>
</configuration>